* {
    box-sizing: border-box;
    font-family: Helvetica;
    color: #424748;
    text-align: center;
}

body {
    background-color: rgb(147, 224, 255);
    text-align: center;
    margin: 0;
    display: grid;
    grid-template-rows: 50px 1fr;
    grid-template-areas: "nav" "main"
}

body>nav {
    grid-area: nav;
    background-color: rgb(113, 176, 254);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px 0 1000px;
}

body>main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(175, 215, 237);
    padding: 20px;
    overflow-y: scroll;
}

body>main h1:first-child {
    margin-bottom: 50px;
}

ul {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    color: white;
    background-color: rgb(29, 59, 156);
}

.active {
    color: white;
    background-color: rgb(72, 121, 228);
}

table {
    border: solid 2px rgb(65, 65, 65);
    border-collapse: collapse;
    margin-bottom: 20px;
}

table,
th,
td {
    border-bottom: solid 2px rgb(65, 65, 65);
    padding: 20px;
    text-align: center;
}

input,
select {
    margin: 5px;
    padding: 5px;
    text-align: center;
    background-color: rgb(155, 191, 254);
    font-weight: bold;
    font-size: large;
}

button {
    border: solid 1px rgb(113, 176, 254);
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 14px;
    color: black;
    background: rgb(113, 176, 254);
}

button:hover {
    color: black;
    background: rgb(105, 186, 218);
    cursor: pointer;
}

.button {
    margin: 10px;
    border: solid 1px rgb(113, 176, 254);
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 14px;
    color: black;
    background: rgb(103, 195, 252);
    text-decoration: none;
}

.button:hover {
    color: black;
    background: rgb(105, 186, 218);
    cursor: pointer;
}

#index {
    margin: 200px auto;
}